@{
    ViewData["Title"] = "Home Page";
}


    <div class="box">
      <a class="button" href="#popup1">Change my language</a>
    </div>
    <div class="CurrentLangText">Current language:
        &nbsp;
        <img src="./pic/SunAndPlanets/640px-Flag_of_the_United_Kingdom.svg.png" class="CurrentLangImg" alt="">
    </div>
    
    <div id="popup1" class="overlay">
        <div class="popup">
            <h1>Please select another language!</h1>
            <a class="close" href="#">&times;</a>
            <div class="row">
                <div class="col-sm-4">
                <h1><a href="third HU.html"><img src="../pic/SunAndPlanets/Flag_of_Hungary.png" class="langSellectFlag" alt=""></a></h1>
                    <h1>Hungarian</h1>
                </div>
                <div class="col-sm-4">
                    <h1><a href="third DK.html"><img src="../pic/SunAndPlanets/denmarkc-logo-png-transparent.png" class="langSellectFlag"></a></h1>
                    <h1>Danish</h1>
                </div>
                <div class="col-sm-4">
                <h1><a href="third EN.html"><img src="../pic/SunAndPlanets/640px-Flag_of_the_United_Kingdom.svg.png" class="langSellectFlag"></a></h1>  
                    <h1>English</h1>
                </div>       
            </div>
        </div>
    </div>

    
    <div class="sun"></div>
    <div class="mercury-outline">
        <div class="mercury">
            <img src="../pic/SunAndPlanets/mercury2.png" width="25px" height="25px" alt="">
            <p>Mercury</p>
        </div>
    </div>
    <div class="venus-outline-1">
        <div class="venus">
            <p>Venus</p>
        </div>
    </div>
    <div class="earth-outline-1">
        <div class="earth">
            <div class="earth-circle">
                <div class="earth-inner"></div>
            </div>
            <p>Earth</p>
        </div>
    </div>
    <div class="mars-outline-1">
        <div class="mars">
            <p>Mars</p>
        </div>
    </div>
    <div class="jupiter-outline-1">
        <div class="jupiter">
            <p>Jupiter</p>
        </div>
    </div>
    <div class="saturnus-outline-1">
        <div class="saturnus">
            <p>Saturn</p>
        </div>
    </div>
    <div class="uranus-outline-1">
        <div class="uranus">
            <p>Uranus</p>
        </div>
    </div>
    <div class="neptune-outline-1">
        <div class="neptune">
            <p>Neptune</p>
        </div>
    </div>
    <div>
        <img src="../pic/astro.png" class="astro" alt="">
    </div>
    <div class="meteor">
        <img src="../pic/meteor.png" class="meteor" alt="">
    </div>
    <!-- <audio controls class="Aaudio">
        <source src="./Lucky Strike (320kbps).mp3" id="zene" type="audio/mp3">
    </audio> -->

    <!-- Sanyi's code -->
    <div class="navbar" id="myNavbar">
        <div id="overlay">
            <img src="../pic/overlay/cancel.png" alt="" onclick="off()" id="cancel"></img>
            <div id="window">
              <div id="txtplanet1">
              
                <h2>Mercury</h2>
               
                      <h4>Mercury is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). Like Venus, Mercury orbits the Sun within Earth's orbit as an inferior planet, and its apparent distance from the Sun as viewed from Earth never exceeds 28°. This proximity to the Sun means the planet can only be seen near the western horizon after sunset or the eastern horizon before sunrise, usually in twilight. At this time, it may appear as a bright star-like object, but is more difficult to observe than Venus. From Earth, the planet telescopically displays the complete range of phases, similar to Venus and the Moon, which recurs over its synodic period of approximately 116 days. </h4>
                    
                   
            
              </div>
              <div id="txtplanet2">
                <h2>Venus</h2>
               
                <h4>Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the brightest natural object in Earth's night sky after the Moon, Venus can cast shadows and can be visible to the naked eye in broad daylight. Venus's orbit is smaller than that of Earth, and thus can be seen near the Sun in the morning or evening. Venus orbits the Sun every 224.7 Earth days. It has a synodic day length of 117 Earth days and a sidereal rotation period of 243 Earth days. As a consequence, it takes longer to rotate about its axis than any other planet in the Solar System, and does so in the opposite direction to all but Uranus. This means that the Sun rises from its western horizon and sets in its east. Venus does not have any moons, a distinction it shares only with Mercury among the planets in the Solar System. </h4>
              </div>
              <div id="txtplanet3">
                <h2>Earth</h2>
               
                <h4>Earth is the third planet from the Sun and the only astronomical object known to harbor life. While large amounts of water can be found throughout the Solar System, only Earth sustains liquid surface water. About 71% of Earth's surface is made up of the ocean, dwarfing Earth's polar ice, lakes and rivers. The remaining 29% of Earth's surface is land, consisting of continents and islands. Earth's surface layer is formed of several slowly moving tectonic plates, interacting to produce mountain ranges, volcanoes and earthquakes. Earth's liquid outer core generates the magnetic field that shapes Earth's magnetosphere, deflecting destructive solar winds.

Earth's atmosphere consists mostly of nitrogen and oxygen. More solar energy is received by tropical regions than polar regions and is redistributed by atmospheric and ocean circulation. Water vapor is widely present in the atmosphere and forms clouds that cover most of the planet. Greenhouse gases in the atmosphere like carbon dioxide (CO2) trap a part of the energy from the Sun close to the surface. A region's climate is governed by latitude, but also by elevation and proximity to moderating oceans.  </h4>
              </div>
              <div id="txtplanet4">
                <h2>Mars</h2>
               
                <h4>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet". The latter refers to the effect of the iron oxide prevalent on Mars's surface, which gives it a striking reddish appearance in the sky. Mars is a terrestrial planet with a thin atmosphere, with surface features such as impact craters, valleys, dunes, and polar ice caps.

The days and seasons are comparable to those of Earth, because the rotation period as well as the tilt of the rotational axis relative to the ecliptic plane are similar. Mars is the site of Olympus Mons, the largest volcano and highest known mountain on any planet in the Solar System, and of Valles Marineris, one of the largest canyons in the Solar System. The smooth Borealis basin in the Northern Hemisphere covers 40% of the planet and may be a giant impact feature. Mars has two moons, Phobos and Deimos, which are small and irregularly shaped.</h4>
              </div>
              <div id="txtplanet5">
                <h2>Jupiter</h2>
               
                <h4>Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant with a mass more than two and a half times that of all the other planets in the Solar System combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third brightest natural object in the Earth's night sky after the Moon and Venus. People have been observing it since prehistoric times; it was named after the Roman god Jupiter, the king of the gods, because of its observed size.

Jupiter is primarily composed of hydrogen, but helium constitutes one-quarter of its mass and one-tenth of its volume. It likely has a rocky core of heavier elements, but, like the other giant planets, Jupiter lacks a well-defined solid surface. The ongoing contraction of its interior generates heat greater than the amount received from the Sun. Because of its rapid rotation, the planet's shape is an oblate spheroid; it has a slight but noticeable bulge around the equator. The outer atmosphere is visibly segregated into several bands at different latitudes, with turbulence and storms along their interacting boundaries. </h4>
              </div>
              <div id="txtplanet6">
                <h2>Saturn</h2>
               
                      <h4>Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius of about nine and a half times that of Earth. It only has one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times more massive.

Saturn's interior is most likely composed of a core of iron–nickel and rock (silicon and oxygen compounds). Its core is surrounded by a deep layer of metallic hydrogen, an intermediate layer of liquid hydrogen and liquid helium, and finally, a gaseous outer layer. Saturn has a pale yellow hue due to ammonia crystals in its upper atmosphere. An electrical current within the metallic hydrogen layer is thought to give rise to Saturn's planetary magnetic field, which is weaker than Earth's, but which has a magnetic moment 580 times that of Earth due to Saturn's larger size. Saturn's magnetic field strength is around one-twentieth of Jupiter's.The outer atmosphere is generally bland and lacking in contrast, although long-lived features can appear. Wind speeds on Saturn can reach 1,800 km/h (1,100 mph; 500 m/s), higher than on Jupiter but not as high as on Neptune. </h4>
              </div>
              <div id="txtplanet7">
                <h2>Uranus</h2>
               
                <h4>UUranus is the seventh planet from the Sun. Its name is a reference to the Greek god of the sky, Uranus, who, according to Greek mythology, was the great-grandfather of Ares (Mars), grandfather of Zeus (Jupiter) and father of Cronus (Saturn). It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System. Uranus is similar in composition to Neptune, and both have bulk chemical compositions which differ from that of the larger gas giants Jupiter and Saturn. For this reason, scientists often classify Uranus and Neptune as "ice giants" to distinguish them from the other giant planets.

As with gas giants, ice giants also lack a well defined "solid surface." Uranus's atmosphere is similar to Jupiter's and Saturn's in its primary composition of hydrogen and helium, but it contains more "ices" such as water, ammonia, and methane, along with traces of other hydrocarbons.It has the coldest planetary atmosphere in the Solar System, with a minimum temperature of 49 K (−224 °C; −371 °F), and has a complex, layered cloud structure with water thought to make up the lowest clouds and methane the uppermost layer of clouds.  </h4>
              </div>
              <div id="txtplanet8">
                <h2>Neptune</h2>
               
                <h4>Neptune is the eighth and farthest-known Solar planet from the Sun. In the Solar System, it is the fourth-largest planet by diameter, the third-most-massive planet, and the densest giant planet. It is 17 times the mass of Earth, and slightly more massive than its near-twin Uranus. Neptune is denser and physically smaller than Uranus because its greater mass causes more gravitational compression of its atmosphere. It is referred to as one of the solar system's two ice giant planets (the other one being its near-twin Uranus).

Being composed primarily of gases and liquids, it has no well-defined "solid surface." The planet orbits the Sun once every 164.8 years at an average distance of 30.1 AU (4.5 billion km; 2.8 billion mi). It is named after the Roman god of the sea and has the astronomical symbol ♆, representing Neptune's trident.</h4>
              </div>
      
            </div>
      
            <div id="imgplanet1">
                <!--mercury-->
              <img
                
                src="../pic/overlay/mercury-planetcropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet2">
              <img
                
                src="../pic/overlay/venuscropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet3">
              <img
                
                src="../pic/overlay/earthcopped2.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet4">
              <img
                
                src="../pic/overlay/marscropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet5">
              <img
                
                src="../pic/overlay/jupitercropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet6">
              <img
                
                src="../pic/overlay/saturncropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet7">
              <img
                
                src="../pic/overlay/uranuscropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet8">
              <img
                
                src="../pic/overlay/neptunecropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <footer>
                <div class="underbar">
                    <a  class="PlanetsOnMenu" id="whiteplanet1">
                    <img src="../pic/overlay/mercury-planetcropped.gif" alt="" class="PlanetsOnMenuIMG" id="merc" onclick="on1()"></a>
                    <a  class="PlanetsOnMenu" id="whiteplanet2">
                    <img src="../pic/overlay/venuscropped.gif" alt="" class="PlanetsOnMenuIMG" id="venus" onclick="on2()"></a>
                    <a  class="PlanetsOnMenu" id="whiteplanet3">
                    <img src="../pic/overlay/earthcopped2.gif" alt="" class="PlanetsOnMenuIMG" id="earth" onclick="on3()"></a>
                    <a  class="PlanetsOnMenu" id="whiteplanet4">
                    <img src="../pic/overlay/marscropped.gif" alt="" class="PlanetsOnMenuIMG" id="mars" onclick="on4()"></a>
                    <a  class="PlanetsOnMenu" id="whiteplanet5">
                    <img src="../pic/overlay/jupitercropped.gif" alt="" class="PlanetsOnMenuIMG" id="jupiter" onclick="on5()"></a>
                    <a class="PlanetsOnMenu" id="whiteplanet6">
                    <img src="../pic/overlay/saturncropped.gif" alt="" class="PlanetsOnMenuIMG" id="saturn" onclick="on6()"></a>
                    <a class="PlanetsOnMenu" id="whiteplanet7">
                    <img src="../pic/overlay/uranuscropped.gif" alt="" class="PlanetsOnMenuIMG" id="uranus" onclick="on7()"></a>
                    <a class="PlanetsOnMenu" id="whiteplanet8">
                    <img src="../pic/overlay/neptunecropped.gif" alt="" class="PlanetsOnMenuIMG" id="neptune" onclick="on8()"></a>
                </div>
            </footer>
        </div>
  
        
      
      
        <a href="#news"  id="mercgomb"  onclick="on1()">Mercury</a>
        <a href="#contact" id="venusgomb" class="venuszz" onclick="on2()">Venus</a>
        <a href="#about" id="earthgomb" onclick="on3()">Earth</a>
        <a href="#about" id="marsgomb" onclick="on4()">Mars</a>
        <a href="#about" id="jupitergomb" onclick="on5()">Jupiter</a>
        <a href="#about" id="saturngomb" onclick="on6()">Saturn</a>
        <a href="#about" id="uranusgomb" onclick="on7()">Uranus</a>
        <a href="#about" id="neptunegomb" onclick="on8()">Neptune</a>
        
      </div>

